<div class="container full-width">
  <div class="cerrado full-width" *ngIf="product.opened != 1">cerrado</div>
  <mat-card class="">
    <img mat-card-md-image class="comida" [src]="productImage" />
  </mat-card>

  <mat-card class="card">
    <mat-card-title-group>
      <a
        href="https://www.pedidosya.com.uy/restaurantes/{{ city }}/{{
          product.link
        }}-menu"
      >
        <img
          mat-card-avatar
          [src]="restaurantImage"
          matTooltip="{{ product.restaurantName }}"
        />

        <div class="rating">
          <i class="material-icons ratingStar">star</i>
          <div class="ratingNumber">
            {{ product.generalScore != 0 ? product.generalScore : "-" }}
          </div>
        </div>
      </a>
      <mat-card-title>{{ product.nombre }}</mat-card-title>
      <mat-card-subtitle>{{ product.seccion }}</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      {{ product.descripcion }}
    </mat-card-content>
    <mat-card-footer class="precio">
      <b>${{ product.precio }} </b>
    </mat-card-footer>
  </mat-card>
</div>
