.search-form {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;

  flex: 1 0;
  flex-wrap: wrap;
}

.search-form-row {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
  padding: 0;
  flex: 1 0;
  flex-wrap: wrap;
}

.search-form-col {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  padding: 1em;
  flex: 1 0;
  flex-wrap: wrap;
  gap: 1em;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  flex: 1 0;
  flex-wrap: wrap;
}

.ordenar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 1em;
  max-height: 2em;
  flex-wrap: wrap;
}

.btn {
  padding: 0;
  line-height: 0;
}

button {
  max-width: 8em;
  margin: 1em;
}

.input {
  max-width: 400px;
  padding-right: 1em;
}

.botonesOrderBy {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
  flex-wrap: wrap;
}

.botonesOrderBy > * {
  flex: 1 0;
  border: 1px solid #ccc;
}

@media screen and (max-width: 440px) {
  body .btn {
    padding: 0 !important;
    line-height: 0;
    margin-left: -10px;
    margin-right: -10px;
  }
  .search-form {
    padding: 0;
  }

  #mat-button-toggle-2-button > span {
    padding: 0 !important;
  }
  .mat-button-toggle-label-content {
    padding: 0;
  }
}

#buscarDescripcionProducto {
  padding-top: 1em;
  padding-bottom: 1em;
}

.showButton {
  position: absolute;
  margin-left: auto;
  margin-right: 10px;
  left: 0;
  right: 0;
  text-align: center;
  transform: translate(0, -31px);
  padding: 0em;
  border: 1px solid #747474;
  color: #747474;
  border-radius: 6px 6px 6px 6px;
  cursor: pointer;
}

.showButton:hover {
  background-color: #747474;
  color: white;
}

.closedButton {
  margin-right: auto;
}

@media screen and (max-width: 375px) {
  #show {
    margin-top: 10px;
  }
  .showButtonWrapper {
    margin-top: 20px;
  }
}
