<form [formGroup]="searchForm" class="search-form">
  <mat-form-field class="search-form-row" appearance="outline">
    <input
      matInput
      placeholder="Empanada..."
      formControlName="search"
      class="input"
    />
  </mat-form-field>
  <mat-checkbox formControlName="matchDescription"
    >Buscar en la descripción del producto</mat-checkbox
  >
  <p class="search-form-row">
    Ordenar por:
    <mat-button-toggle-group
      name="orderBy"
      aria-label="Order by"
      value="precio"
      formControlName="orderBy"
    >
      <!-- [formControl]="orderBy" -->
      <mat-button-toggle class="btn" value="precio">Precio</mat-button-toggle>
      <mat-button-toggle class="btn" value="precioConEnvio"
        >Precio con Envío</mat-button-toggle
      >
      <mat-button-toggle class="btn" value="estrellas"
        >Estrellas</mat-button-toggle
      >
      <mat-button-toggle class="btn" value="tiempoEnvio"
        >Tiempo de Envío</mat-button-toggle
      >
    </mat-button-toggle-group>

    <mat-button-toggle-group
      name="Ascending"
      aria-label="Ascending or not"
      value="{{ true }}"
      formControlName="ascendingOrder"
    >
      <mat-button-toggle class="btn" value="{{ true }}"
        ><mat-icon>keyboard_arrow_up</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle class="btn" value="{{ false }}"
        ><mat-icon>keyboard_arrow_down</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </p>

  <p class="search-form-row">
    <mat-checkbox formControlName="onlyShowImages"
      >Mostrar sólo productos con imagen</mat-checkbox
    >
  </p>
  <p class="search-form-row">
    <mat-checkbox formControlName="onlyShowOpen"
      >Mostrar sólo locales abiertos actualmente</mat-checkbox
    >
  </p>

  <button mat-icon-button color="primary" (click)="onSearch()">
    <mat-icon>search</mat-icon>
  </button>
</form>
